In [99]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns

csv_file = "ADP_All_Measures.csv"
#load csv file
df = pd.read_csv(csv_file)
#print data size
print(df.shape)
#preprocess data
#check missed column
print(df.isna().sum())
#remove duplicated records
df.drop_duplicates
#print data size again
print(df.shape)
df.head()

(215280, 6)
Month        0
Area type    0
Area         0
Property     0
Measure      0
Value        0
dtype: int64
(215280, 6)

,Month,Area type,Area,Property,Measure,Value
0,2020-06-01,RTO,Northland RTO,Hotels,Number of establishments,16
1,2020-06-01,RTO,Northland RTO,Hotels,Number of active establishments,14
2,2020-06-01,RTO,Northland RTO,Hotels,Number of stay units,837
3,2020-06-01,RTO,Northland RTO,Hotels,Monthly stay unit capacity,25100
4,2020-06-01,RTO,Northland RTO,Hotels,Average stay units per establishment,52.3

In [100]:
# after preprocess, according to requirement to choose a dimention to analyse
#I can use SQL to create datasets and BI tools dynamic combination 
# Hypothesis:
# hotel  might use the occupancy rate to track how well its hotels are performing and to identify areas where it can improve.
# government agency might use the proportion of international guests to track the growth of the tourism industry.
# booking platform might use the average nights stayed per guest to recommend the best units for its users.
# example one. I choose 'Occupancy rate' to analyse, according to the metric
# select Month,value,Property,Area,Area_type from machine_learning.ADP_All_Measures 
# where Measure = "Occupancy rate" and Property='Total' and Area_type='TA' and Area='Total New Zealand'
# and Month between '2020-06-01' and '2023-09-01'  order by Month asc;
# parameterised these condition for freedom combination
filtered_df = df[(df['Measure'] == "Occupancy rate")
                 &(df['Property'] == "Total")
                 &(df['Area type'] == "TA")
                 &(df['Area'] == "Total New Zealand")
                 &(df['Month'] >= "2020-06-01")
                 &(df['Month'] <= "2020-10-01")].sort_values('Month')
print(filtered_df.shape)
filtered_df.head()

(5, 6)

            Month Area type               Area Property         Measure  Value
4167   2020-06-01        TA  Total New Zealand    Total  Occupancy rate  0.293
9549   2020-07-01        TA  Total New Zealand    Total  Occupancy rate  0.399
14931  2020-08-01        TA  Total New Zealand    Total  Occupancy rate  0.291
20313  2020-09-01        TA  Total New Zealand    Total  Occupancy rate  0.369
25695  2020-10-01        TA  Total New Zealand    Total  Occupancy rate  0.428

In [ ]:
#start to draw diagram